---
import '../styles/global.css'
import Footer from '../components/Footer.astro'
import Nav from '../components/NavigationBar.astro'

type Props={
    title:string;
}

const {title}=Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
            </head>
    <body>
        <main>
            <Nav></Nav>
            <slot />
            <Footer></Footer>
        </main>
    </body>
</html>

