---

import Card from './card.astro'
import type {Props as CardProp} from './card.astro'

type Props={
    cards: CardProp[]
}

const {cards}=Astro.props
---
<div class="cards">

    <div class="cards">
        {cards.map((card) => (
          <Card {...card} />
        ))}
      </div>
</div>

<style>
    .cards{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

    @media screen and (min-width:768px) {
        .cards{
            flex-direction: row;
        }
        
    }
</style>